body {
  color: black;
  background-color: gainsboro;
}

main {
  font-family: -apple-system-body, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-align: center;
  h1 {
    font-size: 2em;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.5em;
    width: 50%;
    margin: 0 auto;
  }
}