body {
  color: black;
  background-color: gainsboro;
}

main {
  font-family: -apple-system-body, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-align: center;
  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}